.contact-form {
    margin: 0 1.6em 1.6em 1.6em;
    padding: 0 1.6em 1.6em 1.6em;
    border-radius: 1%;
}

.contact-form input, select, textarea, label, .input-group span{
    font-size: .9em;
    padding: .7em;
}

.contact-form .input-group input {
    text-align: right;
}

@media screen and (min-width: 1024px) {

    .contact-form input, select, textarea, label, .input-group span{
        font-size: 1.9em;
    }
}

