.footer-area {
    padding: 20px 0;   
    background-color: #222222;
} 

.footer-content {
    justify-content: center;
}

.footer-text {
    margin: .7em;
    text-align: center;
}

.copy-right-text {
    text-align: center;
}

.single-footer-widget h6 {
    font-size: 1.2em;
    text-align: center;
    color: antiquewhite;
}

.single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #191919 !important;
    color: #777777;
  }
  
  .single-footer-widget ::selection {
    background-color: #191919 !important;
    color: #777777;
  }
  
  .single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300;
  }
  
  .single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300;
  }
  
  .single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300;
  }
  
  .single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
  }
  
  .single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
  }

@media screen and (min-width: 1024px) {
    .footer-content {
        padding: 0 1.5rem;
        justify-content: center;
    }

    .footer-text {
        text-align: left;
    }


    .footer-links a, .footer-social i {
        padding-left: 4.8em;
    }
}
