<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
        
    {{ $keywords := .Site.Params.defaultKeywords | default (slice "" | first 0) }}
    {{ if isset .Params "tags" }}{{ range .Params.tags }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}
    {{ if isset .Params "keywords" }}{{ range .Params.keywords }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}
    {{ if gt (len $keywords) 0 }}
    <meta name="keywords" content="{{ delimit (uniq $keywords) ", " }}">
    {{ end }}
    
    {{ $description_plain := default .Site.Params.defaultDescription .Description | markdownify | plainify }}
    <meta name="description" content="{{ $description_plain }}">
    
    {{ range .Site.Params.css -}}
        <link rel="stylesheet" href="{{ . | relURL }}">
    {{ end -}}
    
    <title>{{ .Site.Title }}{{ if not .IsHome }}{{ with .Title }} | {{ . }}{{ end }}{{ end }}</title>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{{ "img/favicon.png" | relURL }}" sizes="180x180">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "img/favicon_32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "img/favicon_16x16.png" | relURL }}">
</head>

<body>

    <header>
        <!-- ====== Preloader ======  -->
        {{ partial "preloader" . }}
        <!-- ======End Preloader ======  -->

        <!-- ======START NAVGITION ======  -->
        {{ partial "navbar" . }}
        <!-- ====== END NAVGITION ======  -->

        <!-- =======START HEADER=========== -->
        {{ partial "header" . }}
        <!-- ====== END HEADER ======  -->
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        <!-- ====== START SUBSCRIBE ======  -->
        {{ partial "subscribe" . }}
        <!-- ======== END SUBSCRIBE ====== -->

        <!-- ====== START CONTACT ======  -->
        {{ partial "contact" . }}
        <!-- ====== END CONTACT ======  -->

        <!-- ====== START MAP ======  -->
        <!--Google map-->
        <div id="map"></div>
        <!-- ====== END MAP ======  -->

        <!-- ====== START FOOTER ======  -->
        {{ partial "footer" .}}
        <!-- ====== END FOOTER ======  -->
        <!-- ====== JS ======  -->
        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
        {{ range .Site.Params.js -}}
            <link rel="text/javascript" href="{{ . | relURL }}">
        {{ end -}}
    </footer>

</body>

</html>