.offers {
    justify-content: center;
}

.offers-post {
    border: #222;
    padding: 1.8em 1.8em;
    margin: 0 1.8em;
    background-color: rgb(73, 71, 71);
    border-radius: 1%;
}

.offers-post p {
    line-height: 1em;
}

.offers-post a {
    font-weight: bold;
    color: #fff
}

.offers-post img {
    width: 22em;
    height: auto;
}

.offers-post h3 {
    font-size: 1.7em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.offers-post h5 {
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.offers-detail {
    font-size: .8rem;
    color: #fff;
    text-align: left;
}

@media screen and (min-width: 1024px) {
    .offers {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .offers-post img {
        width: 62em;
    }
    
    .offers-detail {
        font-size: 1.2rem;
        line-height: 1.6em;
    }

    .offers-post h3 {
        font-size: 2.3em;
    }

    .offers-post h5 {
        font-size: 1.9em;
    }

}