<!--===========About Us===============-->
<section class="about padding" id="about" data-scroll-index="1">
    <div class="container">
        <div class="row">

            <!-- START ABOUT PICTURE -->
            <div class="col-lg-5 about-img">
                <img src="{{ "img/about.jpg" | relURL }}" class="img-responsive" alt="about-picture" />
            </div>
            <!-- END ABOUT PICTURE -->

            <!-- START ABOUT CONTENT -->
            <div class="col-lg-7 about-content">
                <h2 class="heading-primary mb-3">
                    Lets Experience<br>Travel With Us
                </h2>
                <p class="mb-3">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque vel aut animi quam ducimus
                    consequatur voluptas delectus, sapiente, explicabo nam quasi! Corporis ipsum quae repellendus
                    molestias a quaerat recusandae similique!</p>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius exercitationem suscipit ex quasi
                    in iure dolorem cupiditate corrupti ducimus ipsa.
                </p>
            </div>
            <!-- END ABOUT CONTENT -->

        </div>
    </div>
</section>
