<section class="section-gap info-area" id="aboutus">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">{{ .Params.subtitle }}</h1>
                </div>
            </div>
        </div>					
        <div class="single-info row mt-40">
            <div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
                <div class="info-thumb">
                    <img src= "{{ "img/aboutus.png" | relURL }}" alt="" >
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <p>
                        ¿Por qué elegirnos?
Somos TriniCuba y nuestro objetivo es hacer de sus vacaciones en la isla un maravilloso recuerdo. Diseñamos, gestionamos y promocionamos productos turísticos; garantizando calidad, profesionalidad, exclusividad, seguridad y confiabilidad en los servicios que brindamos.
Nuestras ofertas abarcan un amplio abanico: transportación, hospedaje, excursiones  de turismo de ciudad y de naturaleza a lo largo y ancho de la isla. Paquetes turísticos. Servicio de guía con dominio de idioma extranjero. Asistencia y acompañamiento al cliente en la tramitación de intereses afines con la agencia. Atención especializada a clientes VIP.
TriniCuba también le ofrece paquetes turísticos temáticos para que se apropie mejor de la historia local y de sus tradiciones: baile, randa, alfarería, coctelería. Además, adapta cada uno de sus servicios a las solicitudes y necesidades de sus clientes. Nuestra razón de ser es ayudarle a descubrir el secreto de unas vacaciones felices. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
