<div class="item-slider relative" style="background: url({{ "img/banner-01.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.5)"></div>
    <div class="container">
        <div class="row fullscreen justify-content-left align-items-end">
            <div class="col-md-4">
                <div class="">
                    <div class="logo text-center">
                        <img src="{{ "img/logo_mod.svg" | relURL }}" alt="" width="60px" height="60px">
                        <p class="text-logo"> {{ i18n "agency" }} </p>
                        <p class="text-white-banner">{{ i18n "slogan" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item-slider relative" style="background: url({{ "img/banner-02.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.5)"></div>
    <div class="container">
        <div class="row fullscreen justify-content-left align-items-end">
            <div class="col-md-4">
                <div class="">
                    <div class="logo text-center">
                        <img src="{{ "img/logo_mod.svg" | relURL }}" alt="" width="60px" height="60px">
                        <p class="text-logo"> {{ i18n "agency" }} </p>
                        <p class="text-white-banner">{{ i18n "slogan" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item-slider relative" style="background: url({{ "img/banner-03.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.5)"></div>
    <div class="container">
        <div class="row fullscreen justify-content-left align-items-end">
            <div class="col-md-4">
                <div class="">
                    <div class="logo text-center">
                        <img src="{{ "img/logo_mod.svg" | relURL }}" alt="" width="60px" height="60px">
                        <p class="text-logo"> {{ i18n "agency" }} </p>
                        <p class="text-white-banner">{{ i18n "slogan" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>