<div class="item-slider relative" style="background: url({{ "img/banner-01.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
                <div class="banner-content text-center">
                    <div class="logo">
                        <img src="{{ "img/logo_mod.svg" | relURL }}" alt="" width="200px" height="200px">
                        <p class="text-logo"> {{ i18n "agency" }} </p>
                        <p class="text-white-banner">{{ i18n "slogan" }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="item-slider relative" style="background: url({{ "img/banner-02.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
                <div class="banner-content text-center">
                    <div class="logo">
                        <img src="{{ "img/logo_mod.svg" | relURL }}" alt="" width="200px" height="200px">
                        <p class="text-logo"> {{ i18n "agency" }} </p>
                        <p class="text-white-banner">{{ i18n "slogan" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item-slider relative" style="background: url({{ "img/banner-03.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
                <div class="banner-content text-center">
                    <div class="logo">
                        <img src="{{ "img/logo_mod.svg" | relURL }}" alt="" width="200px" height="200px">
                        <p class="text-logo"> {{ i18n "agency" }} </p>
                        <p class="text-white-banner">{{ i18n "slogan" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>