<div class="item-slider relative" style="background: url({{ "img/banner-01.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.1)"></div>
    <div class="grid-container content">
        {{ partial "slogan" . }}
    </div>
</div>
<div class="item-slider relative" style="background: url({{ "img/banner-02.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.1)"></div>
    <div class="grid-container content">
        {{ partial "slogan" . }}
    </div>
</div>
<div class="item-slider relative" style="background: url({{ "img/banner-03.png" | relURL }});background-size: cover;">
    <div class="overlay" style="background: rgba(0,0,0,.1)"></div>
    <div class="grid-container content">
        {{ partial "slogan" . }}
    </div>
</div>