<section class="blog padding" id="blog" data-scroll-index="5">
    <div class="container">
        <div class="row">

            <!-- START BLOG SECTION TITLE -->
            <div class="text-center">
                <h2 class="heading-primary mb-5">Tour Blog</h2>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iure voluptatem
                    impedit, esse ipsum, quidem nulla maxime magnam repudiandae vero ipsa non voluptatum placeat
                    cupiditate quae officiis aliquid! Doloremque, vel.</p>
            </div>
            <!-- END BLOG SECTION TITLE -->

            <!-- BLOG ITEM -->
            <div class="blog-list col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="blog-img">
                    <div class="post-date">
                        <span class="date">20, feb</span>
                    </div>
                    <div class="image">
                        <img src="{{ "img/portfolio/portfolio-01.jpg" | relURL }}" alt="blog-image" />
                    </div>
                </div>
                <div class="blog-item">
                    <div class="post-title">
                        <a href="#0">
                            <h3>Top 10 things to do and see in San Diego, California</h3>
                        </a>
                    </div>
                    <div class="post-content">
                        <p class="mb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent iaculis ultricies
                            odio, a lobortis massa eleifend in.
                        </p>
                        <a href="#0" class="button">Read More</a>
                    </div>
                </div>
            </div>
            <!-- END BLOG ITEM -->

            <!-- BLOG ITEM -->
            <div class="blog-list col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="blog-img">
                    <div class="post-date">
                        <span class="date">13, jul</span>
                    </div>
                    <div class="image">
                        <img src="{{ "img/portfolio/portfolio-04.jpg" | relURL }}" alt="blog-image" />
                    </div>
                </div>
                <div class="blog-item">
                    <div class="post-title">
                        <a href="#0">
                            <h3>Travel Guide: What is there to see and do in the Bay of Kotor</h3>
                        </a>
                    </div>
                    <div class="post-content">
                        <p class="mb-5">
                            Sed in libero ac odio faucibus rhoncus. Vestibulum auctor felis quis
                            nisi venenatis imperdiet. Sed id volutpat purus.
                        </p>
                        <a href="#0" class="button">Read More</a>
                    </div>
                </div>
            </div>
            <!-- END BLOG ITEM -->

            <!-- BLOG ITEM -->
            <div class="blog-list col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="blog-img">
                    <div class="post-date">
                        <span class="date">22, apr</span>
                    </div>
                    <div class="image">
                        <img src="{{ "img/portfolio/portfolio-05.jpg" | relURL }}" alt="blog-image" />
                    </div>
                </div>
                <div class="blog-item">
                    <div class="post-title">
                        <a href="#0">
                            <h3>Walking the Alta Via dei Monti Liguri, Italy</h3>
                        </a>
                    </div>
                    <div class="post-content">
                        <p class="mb-5">
                            Fusce finibus turpis non justo dignissim, vitae ultrices enim ornare. Nulla tempus
                            rhoncus facilisis. Vestibulum a ornare tortor.
                        </p>
                        <a href="#0" class="button">Read More</a>
                    </div>
                </div>
            </div>
            <!-- END BLOG ITEM -->

        </div>
    </div>
</section>