<section class="faq-area section-gap" id="faq">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Preguntas frecuentes</h1>
                    <p>Esta sección está dividida en tres secciones: una) preguntas frecuentes para aclarar dudas o facilitar infomación; dos) estadísticas generales para mostrar que es una agencia activa; tres) evaluaciones y comentarios para generar interactividad y retroalimentación al sitio. </p>
                </div>
            </div>
        </div>							
        <div class="row d-flex align-items-center">
            <div class="counter-left col-lg-3 col-md-3">
                <div class="single-facts">
                    <h2 class="counter">5962</h2>
                    <p>Projects Completed</p>							
                </div>
                <div class="single-facts">
                    <h2 class="counter">2394</h2>
                    <p>New Projects</p>							
                </div>
                <div class="single-facts">
                    <h2 class="counter">1439</h2>
                    <p>Tickets Submitted</p>							
                </div>												
                <div class="single-facts">
                    <h2 class="counter">933</h2>
                    <p>Cup of Coffee</p>							
                </div>
            </div>	
            <div class="faq-content col-lg-9 col-md-9">
                <div>
                    
                    {{ partial "testimonials" . }}
                </div>												
            </div>									
        </div>
    </div>
</section>
