<section class="counts">
    <div class="container">

        <div class="row">
            <!-- START COUNTS ITEM -->
            <div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
                <div class="counter text-center">
                    <!-- NUMBER -->
                    <span class="count" data-from="0" data-to="20500">1500</span>
                    <!-- TITLE -->
                    <h4>HAPPY CUSTOMERS</h4>
                </div>
            </div>
            <!-- END COUNTS ITEM -->

            <!-- START COUNTS ITEM -->
            <div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
                <div class="counter text-center">
                    <!-- NUMBER -->
                    <span class="count" data-from="0" data-to="17100">12080</span>
                    <!-- TITLE -->
                    <h4>AMAZING TOURS</h4>
                </div>
            </div>
            <!-- END COUNTS ITEM -->

            <!-- START COUNTS ITEM -->
            <div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
                <div class="counter text-center">
                    <span class="count" data-from="0" data-to="5980">2000</span>
                    <!-- TITLE -->
                    <h4>IN BUSINESS</h4>
                </div>
            </div>
            <!-- END COUNTS ITEM -->

            <!-- START COUNTS ITEM -->
            <div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
                <div class="counter text-center">
                    <!-- NUMBER -->
                    <span class="count" data-from="0" data-to="25780">20475</span>
                    <!-- TITLE -->
                    <h4>SUPPORT CASES</h4>
                </div>
            </div>
            <!-- END COUNTS ITEM -->

        </div>
    </div>
</section>