<section class="dest padding">
    <div class="container">

        <!-- START DEST TITLE -->
        <h2 class="heading-tertiary text-center">Popular<span> Destinations</span></h2>
        <!-- END DEST TITLE -->

        <!-- START DEST CARD -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="{{ "img/dest-01.jpg" | relURL }}" alt="Card image cap">
                    <div class="text-center">
                        <p>City, Las Vegas</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="{{ "img/dest-02.jpg" | relURL }}" alt="Card image cap">
                    <div class="text-center">
                        <p>Queen Elizabeth Tower, London</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="{{ "img/dest-03.jpg" | relURL}}" alt="Card image cap">
                    <div class="text-center">
                        <p>Mountains, Hawaii</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DEST CARD -->

    </div>
</section>
