<header class="home jumbotron" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"
        data-paroller-factor-sm="-0.2" id="home" data-scroll-index="0">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 home-content mt-md-5 mt-sm-5 text-center">
                    <h1 class="heading-tertiary mb-3">
                        Travel For Life
                    </h1>
                    <p class="mb-5">
                        Travel to the any corner of the world, without going<br> around in circles connect with us.</p>
                </div>

            </div>
        </div>

    </header>