<!--===========Nav Bar=================-->
<header class="default-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <!-- logo -->
                <a class="navbar-brand" href="{{ "/" | relURL }}">
                    <img src="{{ "img/logo.png" | relURL }}" alt="header-Logo"  height="64px" width="80px">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
                    <span class="icon-bar"><i class="fa fa-bars fa-2x"></i></span>
                </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {{ with site.Menus.main }}
                    {{ range . }}
                        <li class="nav-item">
                            <a href="{{ .URL | relLangURL }}" data-scroll-nav="{{ ".weight" }}">{{ i18n .Name }}</a>
                        </li>
                    {{ end }}
                    {{ end }}
                    <li class="dropdown">
                        <span class=" {{ .Language.Params.flag }}"></span>
                        <div class="dropdown-menu">
                            {{ range .Translations }}
                                <a class="dropdown-item" href="{{ .Permalink }}" hreflang="{{ .Language.Lang }} "><span class=" {{ .Language.Params.flag }}"></span></a>
                            {{ end }}
                        </div>  
                    </li>
                </ul>
              </div>						
        </div>
    </nav>
</header>
