<!--===========Nav Bar=================-->

<nav class="navbar navbar-expand-lg">
    <!-- logo -->
    <a class="navbar-brand" href="#home">
        <img src="{{ "img/logo.png" | relURL }}" alt="header-Logo" class="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
        <span class="icon-bar"><i class="fa fa-bars fa-2x"></i></span>
    </button>
    <!--End of Resposive Toggle icon-->

    <div class="collapse navbar-collapse" id="navbarText">
        <!--Main menu navigation list-->
        <ul class="navbar-nav ml-auto line">
        {{ with site.Menus.main }}
        {{ range . }}
            <li class="nav-item">
                <a href="{{ .URL | relLangURL }}" class="nav-link" data-scroll-nav="{{ ".weight" }}">{{ .Name }}</a>
            </li>
        {{ end }}
        {{ end }}   
        </ul>
        <!--End of Main menu navigation list-->
    </div>
    <!--End of resposive collapse class-->
</nav>
