<section class="tour-package padding" id="tour-package" data-scroll-index="4">
    <div class="container">

        <!-- START PACKAGE TITLE -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="heading-primary mb-5">Populer Tour Packages</h2>
                </div>
            </div>
        </div>
        <!-- END PACKAGE TITLE -->

        <div class="package-carousel owl-carousel">
            <!-- START SINGLE PACKAGE -->
            <div class="single-package">
                <div class="img">
                    <a href="#"><img src="{{ "img/package/package-01.jpg" | relURL }}" alt="package-image"></a>

                </div>
                <span class="pack_price">$236</span>
                <div class="package-hover">
                    <h5>Germany</h5>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="time_zone">5 days - 4 night</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur diam tellus.
                        Phasellus odio sem scelerisque</p>
                    <a href="#0" class="button">Book Now</a>

                </div>
            </div>
            <!-- END SINGLE PACKAGE -->

            <!-- START SINGLE PACKAGE -->
            <div class="single-package">
                <div class="img">
                    <a href="#"><img src="{{ "img/package/package-02.jpg" | relURL }}" alt="package-image"></a>

                </div>
                <span class="pack_price">$152</span>
                <div class="package-hover">
                    <h5>Japan</h5>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="time_zone">3 days - 2 night</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur diam tellus.
                        Phasellus odio sem scelerisque</p>
                    <a href="#0" class="button">Book Now</a>
                </div>
            </div>
            <!-- END SINGLE PACKAGE -->

            <!-- START SINGLE PACKAGE -->
            <div class="single-package">
                <div class="img">
                    <a href="#"><img src="{{ "img/package/package-03.jpg" | relURL }}" alt="package-image"></a>

                </div>
                <span class="pack_price">$438</span>
                <div class="package-hover">
                    <h5>Rome</h5>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="time_zone">6 days - 5 night</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur diam tellus.
                        Phasellus odio sem scelerisque</p>
                    <a href="#0" class="button">Book Now</a>
                </div>
            </div>
            <!-- END SINGLE PACKAGE -->

            <!-- START SINGLE PACKAGE -->
            <div class="single-package">
                <div class="img">
                    <a href="#"><img src="{{ "img/package/package-04.jpg" | relURL }}" alt="package-image"></a>

                </div>
                <span class="pack_price">$236</span>
                <div class="package-hover">
                    <h5>Australia</h5>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="time_zone">5 days - 4 night</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur diam tellus.
                        Phasellus odio sem scelerisque</p>
                    <a href="#0" class="button">Book Now</a>
                </div>
            </div>
            <!-- END SINGLE PACKAGE -->

            <!-- START SINGLE PACKAGE -->
            <div class="single-package">
                <div class="img">
                    <a href="#"><img src="{{ "img/package/package-05.jpg" | relURL }}" alt="package-image"></a>

                </div>
                <span class="pack_price">$127</span>
                <div class="package-hover">
                    <h5>Canada</h5>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="time_zone">3 days - 2 night</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur diam tellus.
                        Phasellus odio sem scelerisque</p>
                    <a href="#0" class="button">Book Now</a>
                </div>
            </div>
            <!-- START SINGLE PACKAGE -->

            <!-- START SINGLE PACKAGE -->
            <div class="single-package">
                <div class="img">
                    <a href="#"><img src="{{ "img/package/package-06.jpg" | relURL }}" alt="package-image"></a>

                </div>
                <span class="pack_price">$336</span>
                <div class="package-hover">
                    <h5>France</h5>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="time_zone">5 days - 4 night</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur diam
                        tellus.
                        Phasellus odio sem scelerisque</p>
                    <a href="#0" class="button">Book Now</a>
                </div>
            </div>
            <!-- END SINGLLE PACKAGE -->

        </div>
    </div>
</section>
