<section class="portfolio padding" id="portfolio" data-scroll-index="3">
    <div class="container-fluid">

        <!-- START PORTFOLIO SECTION TITLE -->
        <div class="port-title text-center">
            <h2 class="heading-primary">Tour Gallery</h2>
        </div>
        <!-- END PORTFOLIO SECTION TITLE -->


        <div class="row">
            <!--START PORTFOLIO CONTENT -->
            <div class="filtr-container">

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="{{ "img/portfolio/portfolio-01.jpg" | relURL }}" alt="portfolio-01" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="view-more">
                                <a href="{{ "img/portfolio/portfolio-01.jpg" | relURL }}" data-lightbox="mygallery"
                                    data-title="This is a caption for this photo">
                                    <i class="fa fa-plus fa-lg fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="2">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="{{ "img/portfolio/portfolio-02.jpg" | relURL }}" alt="portfolio-02" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="view-more">
                                <a href="{{ "img/portfolio/portfolio-02.jpg" | relURL }}" data-lightbox="mygallery"
                                    data-title="This is a caption for this photo">
                                    <i class="fa fa-plus fa-lg fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="3">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="{{ "img/portfolio/portfolio-03.jpg" | relURL }}" alt="portfolio-03" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="view-more">
                                <a href="{{ "img/portfolio/portfolio-03.jpg" | relURL }}" data-lightbox="mygallery"
                                    data-title="This is a caption for this photo">
                                    <i class="fa fa-plus fa-lg fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="4">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="{{ "img/portfolio/portfolio-04.jpg" | relURL }}" alt="portfolio-04" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="view-more">
                                <a href="{{ "img/portfolio/portfolio-04.jpg" | relURL }}" data-lightbox="mygallery"
                                    data-title="This is a caption for this photo">
                                    <i class="fa fa-plus fa-lg fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="5">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="{{ "img/portfolio/portfolio-05.jpg" | relURL }}" alt="portfolio-05" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="view-more">
                                <a href="{{ "img/portfolio/portfolio-05.jpg" | relURL }}" data-lightbox="mygallery"
                                    data-title="This is a caption for this photo">
                                    <i class="fa fa-plus fa-lg fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="6">
                    <div class="port-caption text-center">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="{{ "img/portfolio/portfolio-06.jpg" | relURL }}" alt="portfolio-06" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="view-more">
                                <a href="{{ "img/portfolio/portfolio-06.jpg" | relURL }}" data-lightbox="mygallery"
                                    data-title="This is a caption for this photo">
                                    <i class="fa fa-plus fa-lg fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END PORTFOLIO CONTENT -->
        </div>
    </div>
</section>