<section class="gallery-area" id="portfolio">
    <div class="container-fluid">
        <div class="row no-padding">
            <p class="text-center"> Es una tira de imágenes que muestre fotos de lugares, diferentes a las que emplearemos en las promo de excursiones. Pueden ser actualizadas con una periodicidad no mayor a 2 meses.</p>
            <div class="active-gallery">
                <div class="item single-gallery">
                    <img src="{{ "img/portfolio/portfolio-01.jpg" | relURL }}" alt="">
                </div>	
                <div class="item single-gallery">
                    <img src="{{ "img/portfolio/portfolio-02.jpg" | relURL }}" alt="">
                </div>	
                <div class="item single-gallery">
                    <img src="{{ "img/portfolio/portfolio-03.jpg" | relURL }}" alt="">
                </div>	
                <div class="item single-gallery">
                    <img src="{{ "img/portfolio/portfolio-04.jpg" | relURL }}" alt="">
                </div>	
                <div class="item single-gallery">
                    <img src="{{ "img/portfolio/portfolio-05.jpg" | relURL }}" alt="">
                </div>	
                <div class="item single-gallery">
                    <img src="{{ "img/portfolio/portfolio-06.jpg" | relURL }}" alt="">
                </div>																		
            </div>
        </div>
    </div>	
</section>
