<section class="project-area section-gap" id="project">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Nuestras Ofertas</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore  et dolore magna aliqua.</p>
                </div>
            </div>
        </div>						
        <div class="row justify-content-center d-flex">
            <div class="active-works-carousel mt-40 col-lg-8">
                <div class="item">
                    <img class="img-fluid" src="img/why.jpg" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Servicios de taxi</h6>
                        <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have <br> allowed humanity to create slimmer, more portable technology.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="img/why.jpg" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Gestión de alojamiento</h6>
                        <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have <br> allowed humanity to create slimmer, more portable technology.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="img/why.jpg" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Citytours</h6>
                        <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have <br> allowed humanity to create slimmer, more portable technology.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="img/why.jpg" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Reserva de boletos de Avión</h6>
                        <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have <br> allowed humanity to create slimmer, more portable technology.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="img/why.jpg" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Gestión de Redes Sociales</h6>
                        <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have <br> allowed humanity to create slimmer, more portable technology.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</section>
