<section class="services padding" id="services" data-scroll-index="2">
    <div class="container">

        <!-- START SERVICES SECTION TITLE -->
        <div class="services_title text-center">
            <h2 class="heading-primary text-center mb-5">Our Services</h2>
            <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and type setting
                industry when an unknown printer took a galley of type and scrambled it to make a type specimen
                book It has survived not only five centuries.</p>
        </div>
        <!-- END SERVICES SECTION TITLE -->

        <div class="row">

            <!--START CONTENT BOX -->
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="fa fa-bed fa-2x"></i>
                    </div>
                    <h5 class="heading-secondary">Hotel Booking</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sequi cupiditate! Nobis
                        corporis exercitationem obcaecati magni rerum explicabo vel nemo.
                    </p>
                </div>
            </div>
            <!--END CONTENT BOX -->

            <!--START CONTENT BOX -->
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="fa fa-plane fa-2x"></i>
                    </div>
                    <h5 class="heading-secondary">Flight Booking</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel viverra odio, non
                        pellentesque tortor. Quisque eu ultrices sem. Proin quis ex erat.
                    </p>
                </div>
            </div>
            <!--END CONTENT BOX -->

            <!--START CONTENT BOX -->
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="fa fa-ticket fa-2x"></i>
                    </div>
                    <h5 class="heading-secondary">Ticket Booking</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit inventore fugiat rerum enim,
                        quibusdam mollitia laborum magnam nobis sed.
                    </p>
                </div>
            </div>
            <!--END CONTENT BOX -->

            <!--START CONTENT BOX -->
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="fa fa-ship fa-2x"></i>
                    </div>
                    <h5 class="heading-secondary">Cruises Booking</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptatem atque, hic ut
                        necessitatibus nesciunt ullam officia.
                    </p>
                </div>
            </div>
            <!--END CONTENT BOX -->

            <!-- START CONTENT BOX -->
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="fa fa-train fa-2x"></i>
                    </div>
                    <h5 class="heading-secondary">Rail Booking</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa.
                    </p>
                </div>
            </div>
            <!--END CONTENT BOX -->

            <!--START CONTENT BOX -->
            <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="heading-secondary">Amazing tour</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae vehicula arcu. Integer
                        urna risus, fermentum at cursus.
                    </p>
                </div>
            </div>
            <!--END CONTENT BOX -->

        </div>
    </div>
</section>