<section class="section-gap" id="services">
    <div class="row">
        <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Nuestra de gama de servicios</h1>
            </div>
        </div>
    </div>						
    <div class="row">
        {{ range (where .Site.RegularPages "Type" "services")  }}
        <div class="col-lg-4 col-md-6 d-flex flex-row">
            <div class="single-feature mb-30">
                <div class="mb-10 text-center">
                    <a href="{{ .Params.address | relLangURL }}"><span class="{{ .Params.icon }}"></span></a>
                </div>
                <div class="title text-center pb-20">
                    <h4> {{ i18n .Params.name }}</h4>                      
                </div>
                <p class="text-center">
                    {{ i18n .Params.description }}
                </p>							
            </div>							
        </div>
        {{ end }}																					
    </div>	
</section>
