<section class="feature-area section-gap" id="services">
    <div class="info-content">
        <div class="title text-center">
            <h1 class="mb-10">Nuestra de gama de servicios</h1>
            <p>Cada recuadro te lleva a la página de ese servicio donde se detallará cada uno de esos servicios. No obstante, cada uno tiene un pequeño texto para guiarme.</p>
        </div>
        <div class="row">
            {{ range (where .Site.RegularPages "Type" "services")  }}
            <div class="col-lg-4 col-md-6 d-flex flex-row">
                <div class="single-feature mb-30 text-center">
                    <a href="{{ .Params.address | relLangURL }}"><span class="{{ .Params.icon }}"></span></a>
                    <h4> {{ i18n .Params.name }}</h4>                      
                    <p>
                        {{ i18n .Params.description }}
                    </p>							
                </div>							
            </div>
            {{ end }}																					
        </div>
    </div>	
</section>
