<section class="subscribe text-center jumbotron" data-paroller-factor="-0.4" data-paroller-factor-sm="-0.2"
        data-paroller-factor-xs="-0.1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subs-container">
                        <h2 class="heading-tertiary mb-3">Subscribe Now</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Id nobis
                            quas sunt suscipit aliquid.</p>
                        <form class="form mt-3">
                            <div class="form-check mb-3"> <label class="form-check-label"> <input type="checkbox"
                                        name="checkbox"> <small>Yes, I would like to receive communications by email.
                                    </small></label>
                            </div>
                            <div class="input-group">
                                <input name="email" type="email" class="form-control" placeholder="Enter your email"
                                    required>
                                <button class="btn" type="submit"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>