<section class="test padding jumbotron" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"
        data-paroller-factor-sm="-0.2">
        <div class="container">
            <div class="row">

                <!-- START TESTIMONIALS SECTION TITLE -->
                <div class="test-title text-center">
                    <h2 class="heading-primary mb-5 text-white">Customer Review</h2>
                    <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, doloremque minus.
                        Harum, voluptatum ad maiores in quaerat veritatis iste consequatur atque.Lorem ipsum dolor sit
                        amet consectetur adipisicing elit.</p>
                </div>
                <!-- END TEST SECTIONIMONIALS SECTION TITLE -->

                <div class="col-1g-12 col-md-12 col-sm-10 mx-auto">
                    <div class="testimonials text-center">
                        <div class="owl-carousel owl-theme">

                            <!-- START TESTIMONIAL -->
                            <div class="testimo">
                                <div class="client-area">
                                    <div class="img">
                                        <div class="author">
                                            <img src="{{ "img/testimonial/test-01.jpg" | relURL }}" alt="testimonial-picture" />
                                        </div>
                                    </div>
                                    <h6>Emily</h6>
                                    <span>Envato Customer</span>
                                </div>
                                <p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
                                    assumenda nulla ullam ad quibusdam voluptatum, exercitationem autem sequi
                                    excepturi. "</p>
                            </div>
                            <!-- END TESTIMONIAL -->

                            <!-- START TESTIMONIAL -->
                            <div class="testimo">
                                <div class="client-area">
                                    <div class="img">
                                        <div class="author">
                                            <img src="{{ "img/testimonial/test-02.jpg" | relURL }}" alt="testimonial-picture" />
                                        </div>
                                    </div>
                                    <h6>James Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                                <p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
                                    assumenda nulla ullam ad quibusdam voluptatum, exercitationem autem sequi
                                    excepturi. "</p>
                            </div>
                            <!-- END TESTIMONIAL -->

                            <!-- START TESTIMONIAL -->
                            <div class="testimo">
                                <div class="client-area">
                                    <div class="img">
                                        <div class="author">
                                            <img src="{{ "img/testimonial/test-03.jpg" | relURL }}" alt="testimonial-picture" />
                                        </div>
                                    </div>
                                    <h6>Sophia</h6>
                                    <span>Envato Customer</span>
                                </div>
                                <p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
                                    assumenda nulla ullam ad quibusdam voluptatum, exercitationem autem sequi
                                    excepturi. "</p>
                            </div>
                            <!-- END TESTIMONIAL -->
                            <!-- START TESTIMONIAL -->
                            <div class="testimo">
                                <div class="client-area">
                                    <div class="img">
                                        <div class="author">
                                            <img src="{{ "img/testimonial/test-04.jpg" | relURL }}" alt="testimonial-picture" />
                                        </div>
                                    </div>
                                    <h6>Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                                <p>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis
                                    assumenda nulla ullam ad quibusdam voluptatum, exercitationem autem sequi
                                    excepturi. "</p>
                            </div>
                            <!-- END TESTIMONIAL -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>