<div class="container" id="thanks">
    <div class="row mt-20 justify-content-center mb-20 align-content-center">
        <div class="col-md-6 form-background mt-10 mb-10">
            <h4 class="text-center"> {{ i18n "thanks" }} </h4>
            <p class="text-center"> {{ i18n "thanksDesc"}}  </p>
            <a class="text-center" href="{{ "/" | relURL }}"> Volver al inicio</a>
            <a class="text-center" href="{{ "#services" | relURL }}"> Volver a la página de servicios</a>
        </div>
    </div>
</div>
